.container-form-signin {
    position: relative;
    width: 40%;
    margin: 40px;
    box-sizing: border-box;
    padding: 20px;
    background-color: white;
    border-radius: 4px;
    font-size: 20px;
    text-align: center;
    h1 {
        font-size: 30px;
        text-align: center;
        margin-bottom: 30px;
        padding: 10px;
    }
}

.form-items {
    margin-bottom: 20px !important;
}

.items-min-width {
    min-width: 100% !important;
}

.button {
    margin: 20px;
}

.message-error-login {
    margin-top: -20px;
    margin-bottom: 30px;
}
