@import '../../../../assets/styles/colors';

.container-form-create-service {
    position: relative;
    width: 90%;
    margin: 40px;
    box-sizing: border-box;
    padding: 20px;
    background-color: white;
    border-radius: 4px;
    font-size: 50px;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
        0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    @media (min-width: 400px) {
        padding: 40px 60px;
    }
    @media (min-width: 767px) {
        width: 65%;
    }
    @media (min-width: 1280px) {
        width: 45%;
    }
    h1 {
        font-size: 30px;
    }
}

.container-form-create-service h1 {
    text-align: center;
    margin-bottom: 30px;
}

.container-form-create-service p {
    font-weight: lighter;
    font-size: 13px;
    font-style: oblique;
    text-align: start;
    width: 100%;
}

.items-min-width {
    min-width: 100% !important;
}

.form-items {
    margin-bottom: 20px !important;
}

.buttons-create-service {
    margin-top: 20px;
}

.buttons-create-service button {
    margin-left: 10px;
}

a {
    color: $color-primary
}
