@import '../../../assets/styles/colors';
@import '../../../assets/styles/style';

.provider-profile{
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  background-image: url('../../../assets/images/provider-profile.jpg');
  background-size: cover;
}

.title-background{
  margin-top: 0px;
  background-color: $color-primary;
  padding: 4px;
}

.profile-title{
  display: flex;
  justify-content: center;
  color: #ffffff;
  margin: 2px;
  animation: animation-background-user 1.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.table-profile{
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 16px;
}

.button-edit{
  color: $color-primary;
}

@keyframes animation-background-user {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
