.container-new-user-provider {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../../assets/images/img-form.jpeg');
    background-size: cover;
}
