.container-new-user-provider{
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: crimson;
    background-size: cover;
}