.card-category-container.mat-card {
    height: 450px;
    cursor: pointer;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    padding: 0px !important;
}

.card-category-container .mat-card-content {
    display: grid;
    width: 100%;
    height: inherit !important;
    place-items: center;
    h3 {
        background-color: rgba(white, 0.8);
        padding: 24px;
    }
}
