.mat-card.card-category-container {
    height: 450px;
    cursor: pointer;
}

.card-category-container .mat-card-content {
    display: grid;
    width: 100%;
    height: inherit !important;
    place-items: center;
}
