.container-confirm-service {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../../assets/images/img-form.jpeg');
    background-size: cover;
}
.confirm-service-card{
    background-color:rgba(75,213,131,0.5);
}
.card-confirm.mat-card{
    padding: 0px;
}