.container-footer {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    padding: 20px;
    color: white;
    box-sizing: border-box;
    h6 {
        text-align: center;
    }
    h1 {
        text-align: center;
    }
}
.material-icons {
    color: white;
}
a {
    color: white;
}
.icon-footer {
    margin-right: 5px;
    margin: 7px;
}
.footer-copyright {
    margin-top: 10px;
    height: 20px;
}
