.container-layout-card-services {
    box-sizing: border-box;
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    @media (min-width: 767px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 1200px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.container-preloader {
    padding-top: 40px;
}

.container-pagination {
    padding-bottom: 40px;
}

.container-search {
    padding: 24px 0;
    input {
        padding: 16px;
        border: 1px solid grey;
        width: 100%;
        max-width: 400px;
        border-radius: 4px;
    }
}
