@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import './colors';

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

button {
    border-radius: 5px;
    min-width: 100px;
    padding: 5px 10px;
    cursor: pointer;
}

.button-primary {
    background-color: $color-primary;
    color: white;
}

.button-accent {
    background-color: transparent;
    color: $color-primary;
    border: 1px solid $color-primary;
}
