@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import './colors';

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

p,
<<<<<<< HEAD a,
======= td,
>>>>>>>1a3f5faee86d438aaa0d810eb80ab7fa5b8865e6 span,
li {
    font-family: 'Roboto', sans-serif;
}

button {
    border-radius: 5px;
    min-width: 100px;
    padding: 5px 10px;
    cursor: pointer;
}

.button-primary {
    background-color: $color-primary;
    color: white;
}

.button-accent {
    background-color: transparent;
    color: $color-primary;
    border: 1px solid $color-primary;
}

// Class globals

@mixin flex-properties($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

.flex-column-center-center {
    @include flex-properties(column, center, center);
}

.flex-row-center-center {
    @include flex-properties(row, center, center);
}

.flex-column-center-start {
    @include flex-properties(column, center, flex-start);
}

.flex-row-flexend-center {
    @include flex-properties(row, flex-end, center);
}
